/* **********************************************
Below 1117px / 16 = 70em (Landscape Tablets)
********************************************** */
@media (max-width: 70em) {
  html {
    /* 9px/16px= 56.25% */
    font-size: 56.25%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2.4rem;
  }

  .checkbox {
    left: -38px;
  }
}

/* **********************************************
Below 960px / 16 = 60em (Tablets)
********************************************** */
@media (max-width: 60em) {
  /* 8px/16px = 0.5 = 50% */
  html {
    font-size: 50%;
  }

  .checkbox {
    left: -34px;
  }
}

/* **********************************************
Below 892px / 16 = 56em
********************************************** */
@media (max-width: 56em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2.4rem;
  }

  .cta-form .cta-form-label {
    font-size: 2rem;
  }

  .terms-condition-text {
    font-size: 1.8rem;
  }
}

/* **********************************************
Below 820px / 16 = 51em
********************************************** */
@media (max-width: 51em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2rem;
    font-size: 1.8rem;
  }

  .heading {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .ebook-text {
    font-size: 1.8rem;
  }

  .ebook-feature {
    font-size: 2rem;
  }
}

/* **********************************************
Below 693px /16 = 43em
********************************************** */
@media (max-width: 43em) {
  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .terms-condition {
    grid-column: 1;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .buffer {
    display: none;
  }
}

/* **********************************************
Below 385px / 16 = 24em
********************************************** */
@media (max-width: 24em) {
  .heading {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .cta-text-box {
    padding: 0 2.4rem 4.8rem 2.4rem;
    color: #45260a;
  }
  .section-cta {
    padding: 6.4rem 0 9.6rem;
  }

  .terms-condition {
    margin: 1.6rem 1.6rem 1.6rem 4.8rem;
  }

  .checkbox {
    left: -36px;
  }
}
