* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
    10px / 16px = 0.625 = 62.5%
    Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned
    in relation to body */
  overflow-x: hidden;
}

.section-hero {
  padding: 9.6rem 0;
  text-align: center;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading {
  display: block;
  font-size: 5.2rem;
  font-weight: 700;
  color: #cf711f;
  margin-bottom: 1.6rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 9.6rem;
  letter-spacing: -0.5px;
  color: #333;
}

.grid-2-columns {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.image-box {
  overflow: hidden;
  border-radius: 11px;
}

.image-box img:hover {
  transform: scale(1.1);
}

.text-box {
  text-align: start;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  padding: 0 1.8rem;
  border-radius: 11px;
}

.ebook-img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  display: block;
  transition: all 0.3s ease;
}

.subheading {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
  margin: 3.2rem 0 0;
}

.ebook-text {
  font-size: 2rem;
  font-weight: 500;
  padding: 3.2rem 0 0;
  display: block;
}

.feature {
  margin: 4.8rem 0;
}

.ebook-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.ebook-feature {
  font-size: 2.4rem;
  line-height: 1.6;
}

.dos-donts {
  color: #cf711f;
}

/* ********************
 CTA Section 
******************** */

.section-cta {
  padding: 9.6rem 0 12.8rem;
}

.cta {
  display: flex;
  justify-content: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-top: 8rem;
}

.cta-form .cta-form-label {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form .form-input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
    outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.7rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;

  /* border: solid 3px #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.checkbox {
  height: 3rem;
  width: 3rem;
  padding: 2rem 2rem;
  text-align: start;
  position: absolute;
  left: -45px;
}

.terms-condition {
  grid-column: auto / 3 span;
  margin: 1.6rem 4.4rem;
  position: relative;
}

.terms-condition-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.cta-small-padding {
  padding: 4.8rem 0 0 0;
}

.unternehmensgröße-span {
  grid-row-end: 1;
  grid-row: span 3;
}
